.sidebar {
  position: fixed;
  left: 1rem;
  top: 6rem;
  bottom: 1.5rem;
  width: 15rem;
  background-color: var(--side--bg);
  color: var(--text-color2);
  padding: 1rem;
  transition: transform 0.3s ease;
  overflow-y: auto;
  z-index: 900;
  box-shadow:
    0px 5px var(--card--bs2),
    0px -5px var(--card--bs2),
    5px 0px var(--card--bs2),
    -5px 0px var(--card--bs2),
    0px 10px var(--card--bs-s2),
    5px 5px var(--card--bs-s2),
    -5px 5px var(--card--bs-s2);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-nav-links {
  display: none;
  list-style: none;
  margin: 0;
  gap: 0.5rem;
  padding-left: 0;
}
.sidebar-nav-links li {
  border-radius: 8px;
}
.sidebar-nav-links li a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
  padding: 0.3rem;
}
.sidebar-nav-links li:hover {
  background-color: var(--nav--li-hover);
}
.sidebar-nav-links li:active {
  transform: translateY(5px);
}

hr {
  display: none;
  border: 1px solid var(--text-color2);
}

.topic {
  margin-bottom: 1.5rem;
}

.topic-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.subtopics {
  list-style: none;
  padding-left: 1rem;
}

.subtopics li {
  padding: 0.55rem 0rem;
  border-radius: 8px;
}
.subtopics li:hover {
  background-color: var(--nav--li-hover);
}
.subtopics li a,
.subtopics li .no-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-105%);
  }

  .sidebar-nav-links {
    display: grid;
  }

  hr {
    display: flex;
  }
}
