.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 1rem;
  margin: 1rem;
  background-color: var(--card--bg);
  box-shadow:
    0px 5px var(--card--bs),
    0px -5px var(--card--bs),
    5px 0px var(--card--bs),
    -5px 0px var(--card--bs),
    0px 10px var(--card--bs-s),
    5px 5px var(--card--bs-s),
    -5px 5px var(--card--bs-s),
    inset 0px 5px var(--card--bs-ts1),
    inset 0px -5px var(--card--bs-ts2)
}

.card-header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.5rem;
}

.card-img {
  width: 40px;
  height: 40px;
  image-rendering: pixelated;
}

.card-title {
  font-size: 1rem;
  margin: 0;
  color: var(--text-color);
}

.card-title.no-image {
  margin-bottom: 0.5rem;
}

.card-description {
  font-size: 0.9rem;
  line-height: 1.4;
  color: var(--text-color);
}
